    
    body {
     background-color: #aab2e2; /* ← color de fondo */
     color: #111;              /* color del texto */
     font-family: 'Poppins', sans-serif; /* ← tipo de fuente */
    }

    h1,
    h2 {
        padding: 5px;
        color: white;
        text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.4); /* Sombra del texto */
    }

    .header-titles{
        margin: 30px 0 20px;
        text-align: center;
    }

    .form-group label {
      display: block;
      margin-left: 5px;
      font-weight: bold;
    }

    .form-input {
      width: 100%;
      padding: 10px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .submit-button {
      margin-top: 10px;
      padding: 10px 50px;
      border-radius: 10px;
      background-color: #638de7;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px;
      border: 0;
      width: 100%;
      text-shadow: 8px 8px 6px rgba(0, 0, 0, 0.4);
      transition: background-color 1.0s ease; /* Transición suave al cambiar el color de fondo */
    }

    fieldset {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
    }

    .submit-button:hover {
      background-color: #2563eb;
      /* Un azul más oscuro al pasar el mouse */
    }

    .menu, footer {
        color: white;
        background-color: #2564eb;
        overflow: hidden;
        margin: 20px 0;
        padding: 10px 0;
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Sombra en la caja */
    }

    .menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .menu li {
        margin: 0 15px;
    }

    .menu a {
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        text-decoration: none;
        padding: 14px 20px;
        display: block;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Sombra en la caja */
        transition: background-color 1.0s ease;
    }

    .menu a:hover {
        background-color: rgba(0, 0, 0, 0.623);
        border-radius: 4px;
    }

    #form-section {
        background-color: rgb(255, 255, 255);
        padding: 20px;
        border-radius: 5px;
        max-width: 520px;
        margin: 20px auto;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }

    #video-section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    #video-section iframe {
        border-radius: 10px;
        max-width: 100%;
    }

    footer {
        text-align: center;
        font-size: 14px;
        margin-bottom: 10px !important;
    }

    footer p {
        font-family: 'Poping', sans-serif;
    }

    /* Aplica solo a hijos directos */
    footer > p {
        font-weight: bold;
    }

    footer a {
        color: rgb(58, 236, 82);
        text-decoration: none;
    }

    /* Aplica todos los elementos p que sean hermanos de un h1*/
    h1 ~ p {
        font-style: italic;
    }

    footer h1, footer p, footer h2 {
        margin: 8px;
    }

    h2 + div {
        background-color: rgb(127, 182, 255);
        padding: 5px;
        margin-top: 10px;

    }

    .header-titles {
        width: 350px;
         height: 120px;
         background-color: #4CAF50;
         margin: 0 auto;
         box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Sombra en la caja */
         
    }


    