.caja {
  padding: 10px;
  border: 1px solid #ccc;
  transition: background-color 0.3s;
  border-radius: 5px;
  margin-bottom: 5px;
}

.caja.color {
  background-color: #d1ecf1;
  color: #0c5460;
  font-weight: bold;
}

.caja.color:hover {
  background-color: #ee7bd5 !important;
  color: rgb(255, 255, 255);
}
.oscuro {
  background-color: #222;
  color: #f1f1f1;
}
